[submodule "third_party/dropbear"]
	path = third_party/dropbear
	url = https://github.com/mkj/dropbear.git
	shallow = true
[submodule "third_party/Rocks"]
	path = third_party/Rocks
	url = https://github.com/ThrudTheBarbarian/Rocks
